@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap);

@charset "UTF-8";

@font-face {
  font-family: "Myriad Pro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-quote-left-solid:before {
  content: "\e90f";
}

._icon-chevron-left:before {
  content: "\e900";
}

._icon-chevron-right:before {
  content: "\e901";
}

._icon-envelope:before {
  content: "\e902";
}

._icon-facebook-f:before {
  content: "\e903";
}

._icon-instagram:before {
  content: "\e904";
}

._icon-linkedin-in:before {
  content: "\e905";
}

._icon-location-dot:before {
  content: "\e906";
}

._icon-phone:before {
  content: "\e907";
}

._icon-star:before {
  content: "\e908";
}

._icon-star-regular:before {
  content: "\e909";
}

._icon-telegram:before {
  content: "\e90a";
}

._icon-twitter:before {
  content: "\e90b";
}

._icon-vk:before {
  content: "\e90c";
}

._icon-whatsapp:before {
  content: "\e90d";
}

._icon-youtube:before {
  content: "\e90e";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #525252;
  background-color: #ffffff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.4;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
}

.subtitle {
  color: #c33c42;
  line-height: 1.75;
}

.subtitle_white {
  color: #ffffff;
}

.text {
  font-weight: 400;
  letter-spacing: 0rem;
  line-height: 1.625;
}

.red {
  color: #c33c42;
}

.white {
  color: #ffffff;
}

.divider-gray {
  height: 1px;
  width: 100%;
  background-color: #525252;
}

.divider-red {
  height: 1px;
  width: 100%;
  background-color: #c33c42;
}

.divider-white {
  height: 1px;
  width: 100%;
  background-color: #ffffff;
}

.button-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  letter-spacing: 0rem;
  line-height: 375%;
  color: white;
  text-transform: uppercase;
  width: 170px;
  height: 50px;
  background: #c33c42;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid transparent;
}

.button-red:hover {
  background: white;
  color: #c33c42;
  border: 1px solid #c33c42;
}

.button-gray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  letter-spacing: 0rem;
  line-height: 375%;
  color: white;
  text-transform: uppercase;
  width: 170px;
  height: 50px;
  background: #525252;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid transparent;
}

.button-gray:hover {
  background: white;
  color: #c33c42;
  border: 1px solid #c33c42;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_wide] {
  max-width: 120rem;
  margin: 0 auto 0 0;
  padding: 0px;
}

[class*=__container_left] {
  max-width: 96.25rem;
  margin: 0 auto 0 0;
  padding: 0px;
}

[class*=__container_right] {
  max-width: 96.25rem;
  margin: 0 0 0 auto;
  padding: 0px;
}

[class*=__container_middle] {
  max-width: 78.75rem;
  margin: 0 auto;
}

.form__error {
  font-size: 0.875rem;
  font-weight: 400;
  color: #c33c42;
  padding: 3px 20px 3px 20px;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0px;
  z-index: 50;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.menu__logo {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 37px;
}

.menu__link-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__img-logo {
  margin: 0px 18px 0px 0px;
}

.menu__name-logo {
  font-weight: 700;
  font-size: 2rem;
  line-height: 131.25%;
  letter-spacing: 0.0625rem;
  color: white;
}

.menu__red-name-logo {
  color: #c33c42;
}

.menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__link {
  font-family: "Myriad Pro";
  font-size: 1rem;
  letter-spacing: 0rem;
  line-height: 218.75%;
  color: white;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  padding: 0px 0px 10px 0px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu__link:hover {
  border-bottom: 3px solid #c33c42;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #c33c42;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.footer-bottom__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 0.75rem;
  letter-spacing: 0px;
  line-height: 2;
  color: #ffffff;
}

.footer-bottom__rights {
  position: relative;
  padding: 0px 0px 0px 10px;
}

.footer-bottom__rights::before {
  position: absolute;
  content: "|";
  left: 0px;
  font-family: "Roboto";
  color: #ffffff;
}

.footer-bottom__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.menu-bottom__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-bottom__link {
  font-family: "Myriad Pro";
  font-size: 1rem;
  letter-spacing: 0rem;
  line-height: 218.75%;
  color: white;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  padding: 0px 0px 10px 0px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu-bottom__link:hover {
  border-bottom: 3px solid white;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__block-experts {
  margin: 0px 0px 100px 0px;
}

.page__catalog {
  margin: 0px 0px 100px 0px;
}

.page__gallery {
  position: relative;
  background-color: #c33c42;
  padding-left: 0px;
  padding-right: 0px;
  z-index: 2;
}

.page__contact {
  position: relative;
  background: #f3f1ec;
}

.catalog__header:not(:last-child) {
  margin: 0px 0px 80px 0px;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-block__title {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0px 20px 0px 20px;
}

.block-main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.block-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 78%;
          flex: 0 1 78%;
  min-height: 1080px;
  max-width: 540px;
  z-index: 2;
  background: rgba(77, 74, 67, 0.6);
}

.block-main__description {
  padding: 0px 0px 0px 22px;
  border-left: 11px solid rgba(161, 161, 161, 0.7);
}

.block-main__description:not(:last-child) {
  margin-bottom: 20px;
}

.block-main__bord-top {
  -webkit-transform: translate(-33px, -11px);
      -ms-transform: translate(-33px, -11px);
          transform: translate(-33px, -11px);
  max-width: 291px;
  height: 35px;
  border-top: 11px solid rgba(161, 161, 161, 0.7);
  border-right: 11px solid rgba(161, 161, 161, 0.7);
}

.block-main__bord-bottom {
  max-width: 291px;
  height: 30px;
  border-bottom: 11px solid rgba(161, 161, 161, 0.7);
  border-right: 11px solid rgba(161, 161, 161, 0.7);
  -webkit-transform: translate(-33px, 11px);
      -ms-transform: translate(-33px, 11px);
          transform: translate(-33px, 11px);
}

.block-main__top-title {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0rem;
  line-height: 165%;
  color: white;
  text-transform: uppercase;
}

.block-main__top-title:not(:last-child) {
  padding: 0px 0px 10px 0px;
}

.block-main__title {
  font-size: 3.125rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  line-height: 130%;
  color: white;
  text-transform: uppercase;
}

.block-main__title:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.block-main__text {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0rem;
  line-height: 171.43%;
  color: white;
}

.block-main__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.block-main__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1080px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  z-index: 0;
}

.block-experts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 105px 0px 0px 0px;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}

.block-experts__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-bottom: 58.2%;
}

.block-experts__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  overflow: hidden;
}

.block-experts__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.88%;
          flex: 0 1 48.88%;
  padding: 0px 15px 0px 0px;
}

.block-experts__title:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.block-experts__text:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.progress-bar__item:not(:last-child) {
  margin: 0px 0px 25px 0px;
}

.progress-bar__title:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.progress-bar__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress-bar__type:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.progress-bar__percent-text {
  padding: 0px 0px 0px 10px;
}

.progress-bar__percent-text::before {
  content: "-";
  padding: 0px 10px 0px 0px;
}

.bar {
  height: 6px;
  background: #525252;
}

.bar__percent {
  background: #c33c42;
}

.catalog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-auto-rows: 1fr;
  gap: 20px;
}

.item-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-card__link-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 310px;
          flex: 0 0 310px;
  width: 100%;
  position: relative;
}

.item-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px 33px 0px;
}

.item-card__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 195.83%;
  text-transform: uppercase;
}

.item-card__title:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.item-card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 20px;
  line-height: 0.75;
}

.item-card__rating:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.item-card__text {
  text-align: center;
}

.item-card__text:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.item-card__price {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 100%;
  color: #c33c42;
}

.item-card__price:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.item-card__price::before {
  content: "₽";
  padding: 0px 10px 0px 0px;
}

.item-card__order-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 167px;
  height: 37px;
  font-weight: 700;
  line-height: 137.5%;
  text-transform: uppercase;
  border: 1.5px solid #c33c42;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.item-card__order-link:hover {
  background: #c33c42;
  border: 1.5px solid transparent;
  color: white;
}

.rating__body {
  position: relative;
  font-family: "icons";
}

.rating__body::before {
  content: "\e909\e909\e909\e909\e909";
  display: block;
  font-size: 1.25rem;
  color: #c33c42;
  letter-spacing: 0.1875rem;
}

.rating__active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  font-family: "icons";
  content: "\e908\e908\e908\e908\e908";
  font-size: 1.25rem;
  letter-spacing: 0.1875rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #c33c42;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  position: absolute;
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
  top: 0;
  left: 0;
  opacity: 0;
}

.treatment {
  background-color: #eee3e3;
}

.treatment__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6.25rem;
     -moz-column-gap: 6.25rem;
          column-gap: 6.25rem;
}

.treatment__video {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 62%;
          flex: 0 1 62%;
  min-width: 700px;
  padding: 0px 0px 41.56% 0px;
}

.treatment__item-video {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.treatment__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31%;
          flex: 0 1 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 15px 0px 0px;
}

.treatment__text:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.treatment__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.collection__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 62%;
          flex: 0 1 62%;
  max-width: 975px;
  max-height: 675px;
  position: relative;
  padding: 0px 0px 44.44% 0px;
}

.collection__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31%;
          flex: 0 1 31%;
  padding: 0px 0px 0px 15px;
}

.description__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-reviews {
  background-color: #f3f1ec;
  padding-left: 0;
  padding-right: 0;
}

.clients-reviews__header:not(:last-child) {
  max-width: 1170px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.clients-reviews__block-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}

.clients-reviews .navigation-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transform: translate(0px, 40px);
      -ms-transform: translate(0px, 40px);
          transform: translate(0px, 40px);
}

.clients-reviews .navigation-arrow__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
  background-color: #ffffff;
}

.clients-reviews__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients-reviews__image {
  position: relative;
  -webkit-transform: translate(70px, 15px);
      -ms-transform: translate(70px, 15px);
          transform: translate(70px, 15px);
  padding: 0px 0px 17.1% 0px;
  width: 17.1%;
  min-width: 97px;
  min-height: 97px;
}

.clients-reviews__photo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.clients-reviews__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

.clients-reviews__name-author {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.clients-reviews__text {
  position: relative;
}

.clients-reviews__text::before {
  position: absolute;
  font-family: "icons";
  content: "\e90f";
  font-size: 20px;
  top: -35px;
  margin: 0px 0px 0px -20px;
}

.brand-name__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.brand-name__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17%;
          flex: 0 0 17%;
  padding: 0px 0px 7.5% 0px;
}

.brand-name__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.6;
}

.gallery__header {
  max-width: 1170px;
}

.gallery__header:not(:last-child) {
  margin: 0px auto 10px;
}

.gallery__subtitle {
  text-align: center;
}

.gallery__image {
  position: relative;
  height: 380px;
}

.gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.gallery__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.button-arrow__item {
  color: #ffffff;
  letter-spacing: 0.0625rem;
  line-height: 1.6170212766;
  width: 50px;
}

.button-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 167px;
  height: 50px;
  font-weight: 700;
  line-height: 137.5%;
  text-transform: uppercase;
  background-color: white;
  color: #c33c42;
  border: 1.5px solid transparent;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button-white:hover {
  background: #c33c42;
  border: 1.5px solid white;
  color: white;
}

.contact__body {
  padding-left: 0px;
  padding-right: 0px;
}

.contact__description {
  max-width: 670px;
}

.contact__form {
  position: relative;
  z-index: 2;
}

.contact__img {
  position: absolute;
  top: 0px;
  right: 3%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.form-message__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 9px;
  max-width: 670px;
}

.form-message__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.form-message__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.form-message__block-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100%, 325px);
  grid-template-columns: minmax(100%, 325px);
  -ms-grid-rows: 50px 20px;
  grid-template-rows: 50px 20px;
}

.form-message__item {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  padding: 0px 0px 0px 20px;
  color: #525252;
}

.form-message__item::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #595959;
  font-weight: 400;
}

.form-message__item::-moz-placeholder {
  font-size: 0.875rem;
  color: #595959;
  font-weight: 400;
}

.form-message__item:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #595959;
  font-weight: 400;
}

.form-message__item::-ms-input-placeholder {
  font-size: 0.875rem;
  color: #595959;
  font-weight: 400;
}

.form-message__item::placeholder {
  font-size: 0.875rem;
  color: #595959;
  font-weight: 400;
}

.form-message__item-message {
  padding: 20px;
}

.form-message__item-message::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #595959;
  font-weight: 400;
}

.form-message__item-message::-moz-placeholder {
  font-size: 0.875rem;
  color: #595959;
  font-weight: 400;
}

.form-message__item-message:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #595959;
  font-weight: 400;
}

.form-message__item-message::-ms-input-placeholder {
  font-size: 0.875rem;
  color: #595959;
  font-weight: 400;
}

.form-message__item-message::placeholder {
  font-size: 0.875rem;
  color: #595959;
  font-weight: 400;
}

.offer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__description-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.offer__text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
  color: #525252;
  text-transform: uppercase;
}

.taimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.item-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 126px;
          flex: 1 0 126px;
  max-height: 100%;
  border: 2px solid #c33c42;
}

.item-timer__item {
  font-weight: 700;
  color: #c33c42;
}

.item-timer__name {
  font-size: 1.25rem;
  font-weight: 400;
  color: #858585;
}

.hystmodal__opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.hystmodal__shadow {
  position: fixed;
  border: none;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 98;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease;
  -o-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
  background-color: black;
}

.hystmodal__shadow--show {
  pointer-events: auto;
  opacity: 0.6;
}

.hystmodal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 1;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 99;
  visibility: hidden;
}

.hystmodal--active {
  opacity: 1;
}

.hystmodal--moved,
.hystmodal--active {
  pointer-events: auto;
  visibility: visible;
}

.hystmodal__wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hystmodal__window {
  margin: 50px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: #fff;
  width: 600px;
  max-width: 100%;
  overflow: visible;
  -webkit-transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0;
}

.hystmodal--active .hystmodal__window {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.hystmodal__close {
  position: absolute;
  z-index: 10;
  top: 0;
  right: -40px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27%3E%3Cpath fill=%27%23fff%27 stroke=%27%23fff%27 stroke-linecap=%27square%27 stroke-miterlimit=%2750%27 stroke-width=%272%27 d=%27M22 2L2 22%27/%3E%3Cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27square%27 stroke-miterlimit=%2750%27 stroke-width=%272%27 d=%27M2 2l20 20%27/%3E%3C/svg%3E");
  background-size: 100% 100%;
  border: none;
  font-size: 0;
  cursor: pointer;
  outline: none;
}

.hystmodal__close:focus {
  outline: 2px dotted #afb3b9;
  outline-offset: 2px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.gallery-swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 75em) {
  .menu {
    min-height: 8.9375rem;
  }

  .menu__name-logo {
    font-size: 2rem;
  }

  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .footer-bottom {
    min-height: 14.6875rem;
  }

  .menu-bottom__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .page__gallery {
    padding-top: 6.25rem;
  }

  .page__gallery {
    padding-bottom: 6.25rem;
  }

  .page__offer {
    padding-top: 6.25rem;
  }

  .page__offer {
    padding-bottom: 6.25rem;
  }

  .block-main__body {
    padding-top: 11.25rem;
  }

  .block-main__body {
    padding-bottom: 3.125rem;
  }

  .block-main__body {
    padding-left: 2.3125rem;
  }

  .block-main__body {
    padding-right: 3.25rem;
  }

  .block-main__title {
    font-size: 3.125rem;
  }

  .block-experts__body {
    -webkit-column-gap: 6.25rem;
       -moz-column-gap: 6.25rem;
            column-gap: 6.25rem;
  }

  .treatment__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .treatment__text-block:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .description__title:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .description__subtitle:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .description__text:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .clients-reviews {
    padding-top: 6.5625rem;
  }

  .clients-reviews {
    padding-bottom: 6.5625rem;
  }

  .clients-reviews__header:not(:last-child) {
    margin-bottom: 5rem;
  }

  .clients-reviews__review {
    padding-left: 4.375rem;
  }

  .clients-reviews__review {
    padding-right: 4.375rem;
  }

  .clients-reviews__review {
    padding-top: 2.1875rem;
  }

  .clients-reviews__review {
    padding-bottom: 2.8125rem;
  }

  .clients-reviews__name-author:not(:last-child) {
    margin-bottom: 3.4375rem;
  }

  .brand-name__body {
    -webkit-column-gap: 2.75rem;
       -moz-column-gap: 2.75rem;
            column-gap: 2.75rem;
  }

  .brand-name__body {
    padding-top: 6.25rem;
  }

  .brand-name__body {
    padding-bottom: 6.25rem;
  }

  .gallery__subtitle:not(:last-child) {
    margin-bottom: 4.0625rem;
  }

  .gallery__gallery-swiper:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .button-arrow__item {
    font-size: 2.9375rem;
  }

  .contact__body {
    padding-top: 6.5625rem;
  }

  .contact__body {
    padding-bottom: 6.5625rem;
  }

  .contact__description:not(:last-child) {
    margin-bottom: 4.6875rem;
  }

  .contact__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .form-message__items:not(:last-child) {
    margin-bottom: 4.6875rem;
  }

  .offer__body {
    -webkit-column-gap: 4.6875rem;
       -moz-column-gap: 4.6875rem;
            column-gap: 4.6875rem;
  }

  .offer__description-block {
    -webkit-column-gap: 4.6875rem;
       -moz-column-gap: 4.6875rem;
            column-gap: 4.6875rem;
  }

  .item-timer {
    padding-top: 1.875rem;
  }

  .item-timer {
    padding-bottom: 1.875rem;
  }

  .item-timer {
    padding-left: 2.1875rem;
  }

  .item-timer {
    padding-right: 2.1875rem;
  }

  .item-timer__item {
    font-size: 3.125rem;
  }
}

@media (max-width: 75em) {
  .bar {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 1200px) {
  .treatment__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 0px 0px 0px;
    row-gap: 40px;
  }

  .treatment__video {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    min-width: 200px;
    padding: 0px 0px 60% 0px;
  }

  .treatment__description {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .collection__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 0px 0px 0px;
  }

  .collection__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    min-width: 200px;
    padding: 0px 0px 70% 0px;
  }

  .description {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 1200px) and (max-width: 20em) {
  .treatment__description {
    padding-top: 1.25rem;
  }

  .treatment__description {
    padding-bottom: 1.875rem;
  }

  .treatment__description {
    padding-left: 0.9375rem;
  }

  .treatment__description {
    padding-right: 0.9375rem;
  }

  .collection__body {
    row-gap: 1.25rem;
  }

  .description {
    padding-top: 1.875rem;
  }

  .description {
    padding-left: 0.9375rem;
  }

  .description {
    padding-right: 0.9375rem;
  }

  .description {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 1199.98px) {
  .offer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 40px;
  }

  .offer__description-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 20px;
  }

  .taimer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    row-gap: 20px;
  }
}

@media (max-width: 899.98px) {
  .contact__image {
    display: none;
  }

  .form-message__items {
    max-width: 100%;
  }

  .form-message__block-item {
    -ms-grid-columns: minmax(100%, 435px);
    grid-template-columns: minmax(100%, 435px);
  }
}

@media all and (max-width: 767px) {
  .hystmodal__close {
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27%3E%3Cpath fill=%27%23fff%27 stroke=%27%23111%27 stroke-linecap=%27square%27 stroke-miterlimit=%2750%27 stroke-width=%272%27 d=%27M22 2L2 22%27/%3E%3Cpath fill=%27none%27 stroke=%27%23111%27 stroke-linecap=%27square%27 stroke-miterlimit=%2750%27 stroke-width=%272%27 d=%27M2 2l20 20%27/%3E%3C/svg%3E");
  }

  .hystmodal__window {
    margin: 0;
  }
}

@media (max-width: 579.98px) {
  .form-message__button {
    margin: 0 auto;
  }

  .offer__description-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  .offer__description {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }

  .taimer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    margin: 0 auto;
  }
}

@media (max-width: 20em) {
  .menu {
    min-height: 3.125rem;
  }

  .menu__name-logo {
    font-size: 1.125rem;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .footer-bottom {
    min-height: 5rem;
  }

  .menu-bottom__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .page__gallery {
    padding-top: 1.25rem;
  }

  .page__gallery {
    padding-bottom: 1.25rem;
  }

  .page__offer {
    padding-top: 1.25rem;
  }

  .page__offer {
    padding-bottom: 1.25rem;
  }

  .block-main__body {
    padding-top: 5rem;
  }

  .block-main__body {
    padding-bottom: 3.125rem;
  }

  .block-main__body {
    padding-left: 2.3125rem;
  }

  .block-main__body {
    padding-right: 3.25rem;
  }

  .block-main__title {
    font-size: 1.5625rem;
  }

  .treatment__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .treatment__text-block:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .description__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .description__subtitle:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .description__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .clients-reviews {
    padding-top: 1.875rem;
  }

  .clients-reviews {
    padding-bottom: 3.125rem;
  }

  .clients-reviews__header:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .clients-reviews__review {
    padding-left: 0.9375rem;
  }

  .clients-reviews__review {
    padding-right: 0.9375rem;
  }

  .clients-reviews__review {
    padding-top: 2.1875rem;
  }

  .clients-reviews__review {
    padding-bottom: 1.5625rem;
  }

  .clients-reviews__name-author:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .brand-name__body {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .brand-name__body {
    padding-top: 1.25rem;
  }

  .brand-name__body {
    padding-bottom: 1.25rem;
  }

  .gallery__subtitle:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .gallery__gallery-swiper:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .button-arrow__item {
    font-size: 2.375rem;
  }

  .contact__body {
    padding-top: 1.875rem;
  }

  .contact__body {
    padding-bottom: 1.875rem;
  }

  .contact__description:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .contact__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .form-message__items:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .offer__body {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .offer__description-block {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .item-timer {
    padding-top: 0.625rem;
  }

  .item-timer {
    padding-bottom: 0.625rem;
  }

  .item-timer {
    padding-left: 0.9375rem;
  }

  .item-timer {
    padding-right: 0.9375rem;
  }

  .item-timer__item {
    font-size: 1.875rem;
  }
}

@media (max-width: 62.5em) {
  .block-experts__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
  }

  .block-experts__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-bottom: 81.2%;
  }

  .block-experts__description {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 50px;
  }
}

@media (max-width: 62.5em) and (max-width: 20em) {
  .block-experts__description {
    padding: 0.625rem;
  }
}

@media (max-width: 61.99875em) {
  .footer-bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-bottom__copyright {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer-bottom__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .menu-bottom__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .catalog__items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
  }

  .item-card__link-image {
    width: 100%;
  }

  .treatment__container {
    padding: 0px 0.9375rem;
  }

  .collection__container {
    padding: 0px 0.9375rem;
  }
}

@media (max-width: 56.24875em) {
  .menu__name-logo {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .divider-gray {
    display: none;
  }

  .divider-red {
    display: none;
  }

  .divider-white {
    display: none;
  }

  .no-webp .menu__list{
    background: url("../img/bg/menu_bg.jpg") 0 0/cover; }

  .menu__list {
    position: fixed;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding-bottom: 30px;
  }

  .no-webp .menu__list::before{
    background: url("../img/bg/menu_bg.jpg") 0 0/cover; }

  .menu__list::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__list {
    left: 0;
  }

  .menu-open .menu__list::before {
    left: 0;
  }

  .menu__link {
    font-size: 2.5rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 24px;
    -webkit-transform: translate(-20px, 0px);
        -ms-transform: translate(-20px, 0px);
            transform: translate(-20px, 0px);
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .block-main__description {
    border-left: none;
    padding-left: 0px;
  }

  .block-main__bord-top {
    border-top: none;
    border-right: none;
  }

  .block-main__bord-bottom {
    border-bottom: transparent;
    border-right: transparent;
  }

  .treatment__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 40px;
  }

  .description__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__list {
    padding-top: 6.25rem;
  }

  .menu__list::before {
    height: 4.375rem;
  }
}

@media (max-width: 29.99875em) {
  .footer-bottom__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .footer-bottom__rights::before {
    display: none;
  }

  .menu-bottom {
    display: none;
  }

  .header-block__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .clients-reviews__image {
    -webkit-transform: translate(30px, 15px);
        -ms-transform: translate(30px, 15px);
            transform: translate(30px, 15px);
  }

  .clients-reviews__text::before {
    display: none;
  }

  .form-message__name {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 9px;
  }

  .form-message__contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 9px;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
  .menu {
    min-height: calc(3.125rem + 5.8125 * (((100vw - 20rem)) / ((55))));
  }

  .menu__name-logo {
    font-size: calc(1.125rem + 0.875 * (((100vw - 20rem)) / ((55))));
  }

  .menu__list {
    -webkit-column-gap: calc(1.25rem + 1.25 * (((100vw - 20rem)) / ((55))));
       -moz-column-gap: calc(1.25rem + 1.25 * (((100vw - 20rem)) / ((55))));
            column-gap: calc(1.25rem + 1.25 * (((100vw - 20rem)) / ((55))));
  }

  .footer-bottom {
    min-height: calc(5rem + 9.6875 * (((100vw - 20rem)) / ((55))));
  }

  .menu-bottom__list {
    -webkit-column-gap: calc(1.25rem + 1.25 * (((100vw - 20rem)) / ((55))));
       -moz-column-gap: calc(1.25rem + 1.25 * (((100vw - 20rem)) / ((55))));
            column-gap: calc(1.25rem + 1.25 * (((100vw - 20rem)) / ((55))));
  }

  .page__gallery {
    padding-top: calc(1.25rem + 5 * (((100vw - 20rem)) / ((55))));
  }

  .page__gallery {
    padding-bottom: calc(1.25rem + 5 * (((100vw - 20rem)) / ((55))));
  }

  .page__offer {
    padding-top: calc(1.25rem + 5 * (((100vw - 20rem)) / ((55))));
  }

  .page__offer {
    padding-bottom: calc(1.25rem + 5 * (((100vw - 20rem)) / ((55))));
  }

  .block-main__body {
    padding-top: calc(5rem + 6.25 * (((100vw - 20rem)) / ((55))));
  }

  .block-main__body {
    padding-bottom: calc(3.125rem + 0 * (((100vw - 20rem)) / ((55))));
  }

  .block-main__body {
    padding-left: calc(2.3125rem + 0 * (((100vw - 20rem)) / ((55))));
  }

  .block-main__body {
    padding-right: calc(3.25rem + 0 * (((100vw - 20rem)) / ((55))));
  }

  .block-main__title {
    font-size: calc(1.5625rem + 1.5625 * (((100vw - 20rem)) / ((55))));
  }

  .treatment__title:not(:last-child) {
    margin-bottom: calc(1.25rem + 0.625 * (((100vw - 20rem)) / ((55))));
  }

  .treatment__text-block:not(:last-child) {
    margin-bottom: calc(2.5rem + 0.625 * (((100vw - 20rem)) / ((55))));
  }

  .description__title:not(:last-child) {
    margin-bottom: calc(1.25rem + 0.9375 * (((100vw - 20rem)) / ((55))));
  }

  .description__subtitle:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.875 * (((100vw - 20rem)) / ((55))));
  }

  .description__text:not(:last-child) {
    margin-bottom: calc(2.5rem + 0.625 * (((100vw - 20rem)) / ((55))));
  }

  .clients-reviews {
    padding-top: calc(1.875rem + 4.6875 * (((100vw - 20rem)) / ((55))));
  }

  .clients-reviews {
    padding-bottom: calc(3.125rem + 3.4375 * (((100vw - 20rem)) / ((55))));
  }

  .clients-reviews__header:not(:last-child) {
    margin-bottom: calc(1.875rem + 3.125 * (((100vw - 20rem)) / ((55))));
  }

  .clients-reviews__review {
    padding-left: calc(0.9375rem + 3.4375 * (((100vw - 20rem)) / ((55))));
  }

  .clients-reviews__review {
    padding-right: calc(0.9375rem + 3.4375 * (((100vw - 20rem)) / ((55))));
  }

  .clients-reviews__review {
    padding-top: calc(2.1875rem + 0 * (((100vw - 20rem)) / ((55))));
  }

  .clients-reviews__review {
    padding-bottom: calc(1.5625rem + 1.25 * (((100vw - 20rem)) / ((55))));
  }

  .clients-reviews__name-author:not(:last-child) {
    margin-bottom: calc(1.5625rem + 1.875 * (((100vw - 20rem)) / ((55))));
  }

  .brand-name__body {
    -webkit-column-gap: calc(0.625rem + 2.125 * (((100vw - 20rem)) / ((55))));
       -moz-column-gap: calc(0.625rem + 2.125 * (((100vw - 20rem)) / ((55))));
            column-gap: calc(0.625rem + 2.125 * (((100vw - 20rem)) / ((55))));
  }

  .brand-name__body {
    padding-top: calc(1.25rem + 5 * (((100vw - 20rem)) / ((55))));
  }

  .brand-name__body {
    padding-bottom: calc(1.25rem + 5 * (((100vw - 20rem)) / ((55))));
  }

  .gallery__subtitle:not(:last-child) {
    margin-bottom: calc(1.25rem + 2.8125 * (((100vw - 20rem)) / ((55))));
  }

  .gallery__gallery-swiper:not(:last-child) {
    margin-bottom: calc(1.25rem + 2.5 * (((100vw - 20rem)) / ((55))));
  }

  .button-arrow__item {
    font-size: calc(2.375rem + 0.5625 * (((100vw - 20rem)) / ((55))));
  }

  .contact__body {
    padding-top: calc(1.875rem + 4.6875 * (((100vw - 20rem)) / ((55))));
  }

  .contact__body {
    padding-bottom: calc(1.875rem + 4.6875 * (((100vw - 20rem)) / ((55))));
  }

  .contact__description:not(:last-child) {
    margin-bottom: calc(1.25rem + 3.4375 * (((100vw - 20rem)) / ((55))));
  }

  .contact__title:not(:last-child) {
    margin-bottom: calc(0.9375rem + 0.9375 * (((100vw - 20rem)) / ((55))));
  }

  .form-message__items:not(:last-child) {
    margin-bottom: calc(1.25rem + 3.4375 * (((100vw - 20rem)) / ((55))));
  }

  .offer__body {
    -webkit-column-gap: calc(1.5625rem + 3.125 * (((100vw - 20rem)) / ((55))));
       -moz-column-gap: calc(1.5625rem + 3.125 * (((100vw - 20rem)) / ((55))));
            column-gap: calc(1.5625rem + 3.125 * (((100vw - 20rem)) / ((55))));
  }

  .offer__description-block {
    -webkit-column-gap: calc(1.5625rem + 3.125 * (((100vw - 20rem)) / ((55))));
       -moz-column-gap: calc(1.5625rem + 3.125 * (((100vw - 20rem)) / ((55))));
            column-gap: calc(1.5625rem + 3.125 * (((100vw - 20rem)) / ((55))));
  }

  .item-timer {
    padding-top: calc(0.625rem + 1.25 * (((100vw - 20rem)) / ((55))));
  }

  .item-timer {
    padding-bottom: calc(0.625rem + 1.25 * (((100vw - 20rem)) / ((55))));
  }

  .item-timer {
    padding-left: calc(0.9375rem + 1.25 * (((100vw - 20rem)) / ((55))));
  }

  .item-timer {
    padding-right: calc(0.9375rem + 1.25 * (((100vw - 20rem)) / ((55))));
  }

  .item-timer__item {
    font-size: calc(1.875rem + 1.25 * (((100vw - 20rem)) / ((55))));
  }
}

@media (max-width: 47.99875em) and (min-width: 75em) {
  .menu__list {
    padding-top: 10.625rem;
  }

  .menu__list::before {
    height: 10.1875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
  .menu__list {
    padding-top: calc(6.25rem + 4.375 * (((100vw - 20rem)) / ((55))));
  }

  .menu__list::before {
    height: calc(4.375rem + 5.8125 * (((100vw - 20rem)) / ((55))));
  }
}

@media (min-width: 18.75em) and (max-width: 68.75em) {
  .page__block-experts {
    margin-bottom: calc(3.75rem + 5.625 * (((100vw - 18.75rem)) / ((50))));
  }

  .page__catalog {
    margin-bottom: calc(3.75rem + 2.8125 * (((100vw - 18.75rem)) / ((50))));
  }
}

@media (min-width: 62.5em) and (max-width: 75em) {
  .block-experts__body {
    -webkit-column-gap: calc(1.25rem + 5 * (((100vw - 62.5rem)) / ((12.5))));
       -moz-column-gap: calc(1.25rem + 5 * (((100vw - 62.5rem)) / ((12.5))));
            column-gap: calc(1.25rem + 5 * (((100vw - 62.5rem)) / ((12.5))));
  }
}

@media (max-width: 62.5em) and (min-width: 20em) and (max-width: 62.5em) {
  .block-experts__description {
    padding: calc(0.625rem + 2.5 * (((100vw - 20rem)) / ((42.5))));
  }
}

@media (min-width: 75em) and (max-width: 81.25em) {
  .treatment__body {
    -webkit-column-gap: calc(2.5rem + 3.75 * (((100vw - 75rem)) / ((6.25))));
       -moz-column-gap: calc(2.5rem + 3.75 * (((100vw - 75rem)) / ((6.25))));
            column-gap: calc(2.5rem + 3.75 * (((100vw - 75rem)) / ((6.25))));
  }

  .collection__body {
    -webkit-column-gap: calc(2.5rem + 3.75 * (((100vw - 75rem)) / ((6.25))));
       -moz-column-gap: calc(2.5rem + 3.75 * (((100vw - 75rem)) / ((6.25))));
            column-gap: calc(2.5rem + 3.75 * (((100vw - 75rem)) / ((6.25))));
  }
}

@media (max-width: 1200px) and (min-width: 75em) {
  .treatment__description {
    padding-top: 3.125rem;
  }

  .treatment__description {
    padding-bottom: 3.125rem;
  }

  .treatment__description {
    padding-left: 3.125rem;
  }

  .treatment__description {
    padding-right: 3.125rem;
  }

  .collection__body {
    row-gap: 2.5rem;
  }

  .description {
    padding-top: 3.125rem;
  }

  .description {
    padding-left: 3.125rem;
  }

  .description {
    padding-right: 3.125rem;
  }

  .description {
    padding-bottom: 3.125rem;
  }
}

@media (max-width: 1200px) and (min-width: 20em) and (max-width: 75em) {
  .treatment__description {
    padding-top: calc(1.25rem + 1.875 * (((100vw - 20rem)) / ((55))));
  }

  .treatment__description {
    padding-bottom: calc(1.875rem + 1.25 * (((100vw - 20rem)) / ((55))));
  }

  .treatment__description {
    padding-left: calc(0.9375rem + 2.1875 * (((100vw - 20rem)) / ((55))));
  }

  .treatment__description {
    padding-right: calc(0.9375rem + 2.1875 * (((100vw - 20rem)) / ((55))));
  }

  .collection__body {
    row-gap: calc(1.25rem + 1.25 * (((100vw - 20rem)) / ((55))));
  }

  .description {
    padding-top: calc(1.875rem + 1.25 * (((100vw - 20rem)) / ((55))));
  }

  .description {
    padding-left: calc(0.9375rem + 2.1875 * (((100vw - 20rem)) / ((55))));
  }

  .description {
    padding-right: calc(0.9375rem + 2.1875 * (((100vw - 20rem)) / ((55))));
  }

  .description {
    padding-bottom: calc(1.875rem + 1.25 * (((100vw - 20rem)) / ((55))));
  }
}

@media (min-width: 75em) and (max-width: 120em) {
  .treatment__title:not(:last-child) {
    margin-bottom: calc(1.875rem + 0.3125 * (((100vw - 75rem)) / ((45))));
  }

  .treatment__subtitle:not(:last-child) {
    margin-bottom: calc(1.875rem + 1.25 * (((100vw - 75rem)) / ((45))));
  }

  .treatment__text-block:not(:last-child) {
    margin-bottom: calc(3.125rem + 2.8125 * (((100vw - 75rem)) / ((45))));
  }

  .description__text:not(:last-child) {
    margin-bottom: calc(3.125rem + 2.8125 * (((100vw - 75rem)) / ((45))));
  }
}

@media (max-width: 47.99875em){

  .webp .menu__list{ background: url(../img/bg/menu_bg.webp) 0 0/cover; }
}

@media (max-width: 47.99875em){

  .webp .menu__list::before{ background: url(../img/bg/menu_bg.webp) 0 0/cover; }
}